{% extends 'main/base.html' %}


{% block content%}

<div class="container pt-5" style="height: 800px;">
    <div class="row d-flex justify-content-center">


        <br>

        <br>
        <div class="row d-flex justify-content-center p-3">
            <div class="col-md-6 card">
                <h3 class="pt-3 pb-3">Please Update your Vaccine date.</h3>


                <p>Full Name : {{user.vaccine.name}}</p>
                <p>Age : {{user.vaccine.age}}</p>

                <p>Vaccine State : {{user.vaccine.state}}</p>
                <p>Vaccine Date : {{user.vaccine.date}}</p>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center p-3">
            <div class="col-md-6 d-flex justify-content-end">
                <a href="{% url 'vaccineregister'%}"><button class="btn btn-primary">Update vaccine</button> </a>
            </div>
        </div>

    </div>


</div>

{% endblock content%}