{% extends "main/base.html" %}

{% block content %}
<div class="container pt-4" style="height: 800px;">
    <h3 class="text-white">
        <!-- {{  tag_line }} -->
    </h3>
    <form method="POST" class="col-12 col-md-6 no-padding pr-3 pr-md-0">
        {% csrf_token %}

        <h3>Book Your Vaccine Date Now!</h3>
        <fieldset class="form-group text-white">
            {{ vform.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">post</button>
        </div>
    </form>
</div>
{% endblock content %}